<!DOCTYPE html>
<html>
  <head>
    <title>Key Quest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Load the compiled CSS (from the build process) -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Manifest -->
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <link rel="icon" href="<%= asset_path 'favicon.ico' %>">
  </head>

  <body>
    <div id="root"></div> <!-- This is where the React app will be rendered -->

    <!-- Load the compiled JavaScript (from the build process) -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
